# ========== GENERAL ==========
.DS_Store
.env
*.local
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========== NODE ==========
node_modules/
dist/
lib/
lib-types/
server/
logs/
coverage/
tsconfig.tsbuildinfo
.rollup.cache
.cache
.mf

# ========== DOCKER ==========
docker-compose.yml
docker-compose.yaml
.docker/
**/.dockerignore

# ========== YARN / PNPM ==========
.yarn/*
!.yarn/releases
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ========== EDITORS ==========
.vscode/
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/

# ========== PROJECT STRUCTURE HINT ==========
tommy-potter--next/dist/



# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

